In [4]:
# Imports
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pickle
import numpy as np

In [9]:
data = pd.read_csv("StudentsPerformance.csv")
data = data.drop('race/ethnicity', axis=1)
data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,bachelor's degree,standard,none,72,72,74
1,female,some college,standard,completed,69,90,88
2,female,master's degree,standard,none,90,95,93
3,male,associate's degree,free/reduced,none,47,57,44
4,male,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...
995,female,master's degree,standard,completed,88,99,95
996,male,high school,free/reduced,none,62,55,55
997,female,high school,free/reduced,completed,59,71,65
998,female,some college,standard,completed,68,78,77
999,female,some college,free/reduced,none,77,86,86

In [10]:
data.isna().sum()

gender                         0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [12]:
label_encoder = preprocessing.LabelEncoder()
categ = ['gender','parental level of education', 
        'lunch', 'test preparation course']

# Encode Categorical Columns
data[categ] = data[categ].apply(label_encoder.fit_transform)
X = data.drop('writing score', axis=1).values
y_writing = [1 if i >= 70 else 0 for i in data['writing score']]

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y_writing, random_state=0)

# Fit and train
rf = RandomForestClassifier(n_estimators=50, random_state=2)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.912

In [18]:
pickle.dump(rf, open("modelrf.pkl", "wb"))